* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v203_80 {
  width: 100%;
  height: 1080px;
  background: rgba(45,45,45,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v203_82 {
  width: 175px;
  color: rgba(64,217,79,1);
  position: absolute;
  top: 21px;
  left: 873px;
  text-shadow: 0px 0px 3px rgba(0.25269097089767456, 0.8541666865348816, 0.312838613986969, 1);
  font-family: Libre Barcode 128 Text;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v214_10 {
  width: 328px;
  height: 204px;
  background: url("../images/v214_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1090px;
  overflow: hidden;
}
.v214_12 {
  width: 328px;
  height: 204px;
  background: url("../images/v214_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 500px;
  overflow: hidden;
}
.v214_14 {
  width: 328px;
  height: 199px;
  background: url("../images/v214_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 500px;
  overflow: hidden;
}
.v214_15 {
  width: 110px;
  color: rgba(64,218,80,1);
  position: absolute;
  top: 295px;
  left: 718px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v214_16 {
  width: 110px;
  color: rgba(64,218,80,1);
  position: absolute;
  top: 296px;
  left: 1308px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v214_17 {
  width: 110px;
  color: rgba(64,218,80,1);
  position: absolute;
  top: 557px;
  left: 720px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v214_18 {
  width: 156px;
  color: rgba(64,218,80,1);
  position: absolute;
  top: 970px;
  left: 883px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
