.203_80 { 
	overflow:hidden;
}.e203_80 { 
	background-color:rgba(45.68749822676182, 45.68749822676182, 45.68749822676182, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e203_82 { 
	box-shadow:0px 0px 3.5px rgba(64.43619757890701, 217.8125050663948, 79.7738465666771, 1);
	color:rgba(64.43619757890701, 217.8125050663948, 79.7738465666771, 1);
	width:175px;
	height:62px;
	position:absolute;
	left:107px;
	top:-21px;
	font-family:Libre Barcode 128 Text;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e214_10 { 
	width:328px;
	height:204px;
	position:absolute;
	left:31px;
	top:287px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e214_12 { 
	width:328px;
	height:204px;
	position:absolute;
	left:31px;
	top:63px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e214_14 { 
	width:328px;
	height:199.73731994628906px;
	position:absolute;
	left:31px;
	top:511px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e214_15 { 
	color:rgba(64.00000378489494, 218.00000220537186, 80.00000283122063, 1);
	width:110px;
	height:13px;
	position:absolute;
	left:249px;
	top:270px;
	font-family:Libre Barcode 128;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.e214_16 { 
	color:rgba(64.00000378489494, 218.00000220537186, 80.00000283122063, 1);
	width:110px;
	height:13px;
	position:absolute;
	left:249px;
	top:496px;
	font-family:Libre Barcode 128;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.e214_17 { 
	color:rgba(64.00000378489494, 218.00000220537186, 80.00000283122063, 1);
	width:110px;
	height:13px;
	position:absolute;
	left:249px;
	top:716px;
	font-family:Libre Barcode 128;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}.e214_18 { 
	color:rgba(64.00000378489494, 218.00000220537186, 80.00000283122063, 1);
	width:156px;
	height:14px;
	position:absolute;
	left:117px;
	top:756px;
	font-family:Libre Barcode 128;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}